{% load static %}
{% include "partials/messages.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password reset done</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_change_form.css' %}">

</head>
<body>
<div class="form-container">
    password reset link sent
    <br>
    check your email!
    <br>
    <input type="button" value="Back to Login" onclick="window.location.href='{% url 'app1:login' %}'">

</div>
</body>
</html>