{% extends 'parent/base.html' %}
{% block title %}post: {{ post.id }}{% endblock %}
{% block content %}
{#{% load jformat %}#}


{#<h2>{{ post.title }}</h2>#}
{#    {{ post.description | linebreaks }}#}
{#    <br>#}
{#    <hr>#}
{#    <p style="color: red">auther: {{ post.auther }} </p>#}
{#    <hr>#}
{#    <p>{{ date | jformat:'%A'}}</p>#}
{#    <p>{{ post.publish }}j</p>#}

        vless://9deda4f9-a9b9-4614-b840-ece9998ec6db@81.12.30.51:58045?path=%2F&security=&encryption=none&type=ws#%40YamYamProxy
{% endblock %}