{% extends 'parent/base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

<div class="post-container">
    <h1 class="post-title">{{ post.title }}</h1>

    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
    {% endif %}

    <p class="post-author">By: {{ post.auther }}</p>

    <div class="post-description">
        {{ post.description|linebreaks }}
        <a href={{ object.file.url }}>Download {{ object.file.size }}</a>
    </div>

    <p class="post-date">Published: {{ post.publish }}</p>
</div>
{% endblock %}
