{% extends "parent/base.html" %}
{% load static %}



{% block content %}
<link type="text/css" rel="stylesheet" href="{% static "css/edit_profile.css" %}">

<div class="edit-profile-container">
  <h2>Edit Profile</h2>

  <form method="post" enctype="multipart/form-data" class="edit-profile-form">
    {% csrf_token %}

    <!-- Profile Image Upload -->
    <div class="profile-image-upload">
      <label for="id_image" class="image-label">
        <img id="profilePreview"
             src="
                    {% if form.image.url %}
                        {{ form.image.url }}
                        {% else %}
                            {% if user.profile.image%}
                                {{ user.profile.image.url }}
                            {% else %}
                                {% static 'icon/images/default-avatar.png' %}
                            {% endif %}
                    {% endif %}
                    " alt="Profile picture">

        <!-- Overlay -->
        <div class="overlay">
          <span class="upload-text">Upload</span>
        </div>
      </label>
      {{ form.image }}
    </div>

    <!-- Other Fields -->
    <div class="form-group">
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
    </div>

    <!-- Other Fields -->
{#    <div class="form-group">#}
{#      {{ userform.username.label_tag }}#}
{#      {{ userform.username }}#}
{#    </div>#}

    <!-- Other Fields -->
{#    <div class="form-group">#}
{#      {{ form.first_name.label_tag }}#}
{#      {{ form.first_name }}#}
{#    </div>#}

    <div class="form-group">
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
    </div>

    <div class="form-group">
      {{ form.bio.label_tag }}
      <textarea name="bio" content="{{ form.bio.value }}" cols="40" rows="10" id="id_bio" class="bio"></textarea>
    </div>

    <div class="form-group">
      {{ form.birth_date.label_tag }}
      {{ form.birth_date }}
    </div>

    <button type="submit" class="save-btn">Save Changes</button>

  </form>
  {{ errors }}
</div>

{% endblock %}