{% extends 'parent/base.html' %}
{% block title %}posts list{% endblock %}
{% block content %}
    <h1>posts list:</h1>

        <ol style="--length: {{ posts.count }}" role="list">

            {% for post in posts %}
                <li style="--i: {{ forloop.counter }}">
                    <h3><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h3>
                    <p>
                    {{ post.description | truncatewords:3 }}
                    {{ post.get_absolute_url }}
                        </p>
                </li>
                <br>{% endfor %}
        </ol>

{% endblock %}