{% extends 'parent/base.html' %}
{% load static %}

{% block content %}
<div class="profile-body">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <div class="profile-container">
        <!-- Header Section -->
        <div class="profile-header">
            <div class="profile-image">
                <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'icon/images/default-avatar.png' %}{% endif %}" alt="Profile picture">
            </div>

            <div class="profile-info">
                <h2 class="username">{{ user.username }}</h2>
                <p class="bio">{{ user.profile.bio }}</p>
                <p class="location">{{ user.profile.location|default:"Unknown" }}</p>
            </div>
            <div>
                <a href="" class="login-btn">Edit Profile</a>
                <a href="{% url 'app1:logout_confirm' %}" class="login-btn">Logout</a>

            </div>
        </div>

        <!-- User’s Posts -->
        <div class="profile-posts">
            <h3>{{ user.username }}'s Posts</h3>
            <div class="posts-grid">
                {% for post in posts %}
                <a href="{{ post.get_absolute_url }}" class="post-card">
                    <img src="{{ post.image.first.image.url }}" alt="{{ post.title }}">
                    <div class="post-info">
                        <span class="post-title">{{ post.title }}</span>
                        <span class="post-date">{{ post.publish|date:"M d, Y" }}</span>
                    </div>
                </a>
                {% empty %}
                <p class="empty-msg">No tracks uploaded yet 🎵</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
