<!-- loading the static directory that include css js images and ... -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/player.css' %}">
<script src="{% static 'js/player.js' %}" defer></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %}>
    {% include 'partials/header.html' %}
    {% block head %}{% endblock %}
</head>
<body {% block body_attributes%}{% endblock %}>


<hr>
{% block content %} {% endblock %}
<hr>



</body>
<footer>
    {% block footer_block %}{% endblock %}
    {% include 'partials/footer.html' %}
</footer>
</html>