<!-- loading the static directory that include css js images and ... -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %}>

    {% block head %}{% endblock %}
</head>
<body class="{% block body_class%}{% endblock %}">
{% include 'partials/header.html' %}
{% include 'partials/navigation.html' %}
<hr>
{% block content %} {% endblock %}
<hr>
{% include 'partials/footer.html' %}
<script src="{% static 'js/base.js' %}"></script>

</body>
</html>