{% load static %}

<link rel="stylesheet" type="text/css" href={% static "css/header.css" %} >

<header class="dark-header">
  <div class="header-container">
    <!-- Blog name -->
    <div class="logo">
      <a href=>FizzyNest</a>
    </div>

    <!-- Navigation -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href={% url 'app1:index' %}>Home</a></li>
        <li><a href={% url 'app1:posts' %}>Posts</a></li>
        <li><a href={% url 'app1:ticket' %}>Ticket</a></li>
        <li><a href={% url 'app1:post_create' %}>Create</a></li>
      </ul>
    </nav>

    <!-- Search bar -->
    <form action="{% url 'app1:post_search' %}" method="GET" class="search-form">
        {% csrf_token %}
      <input type="text" name="query" required placeholder="Search..." />
      <button type="submit">🔍</button>
    </form>
  </div>
</header>
