{% load static %}

<link rel="stylesheet" type="text/css" href={% static "css/header.css" %} >

<header class="dark-header">
  <div class="header-container">
    <!-- Blog name -->
    <div class="logo">
      <a href=>FizzyNest</a>
    </div>

    <!-- Navigation -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/home">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/categories">Ticket</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <!-- Search bar -->
    <form action="/search" method="GET" class="search-form">
      <input type="text" name="q" placeholder="Search..." />
      <button type="submit">🔍</button>
    </form>
  </div>
</header>
